<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input[type=text],[type = date], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button[type=submit] {
  width: 7%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type=submit]:hover {
  background-color: blue;
}
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
    </style>
</head>
<body>
    <h1> Tambah Data</h1>
        <form action="" method="post">
            Nama<input type="text" name="nama" id="" value="" placeholder="nama" required> <br>
            berat<input type="text" name="berat" id="" value="" placeholder=" berat(dgn angka)"> <br>
            tinggi<input type='text' name="tinggi" placeholder="tinggi" > <br>
            tanggal lahir <input type="date" name="date" id="" value="" placeholder="tanggal lahir"> <br>
            status<select name="status" id="" >
                <option disabled selected value="">pilih</option>
                <option>nikah</option>
                <option>jomblo</option>
                </select> <br>
            <button type="submit">Tambah</button>
        </form>
</body>
</html>