<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Tambah Data</h1>
        <form action="" method="post">
            Nama<input type="text" name="nama" id="" value="" placeholder="nama" required> <br>
            berat<input type="text" name="berat" id="" value="" placeholder=" berat(dgn angka)"> <br>
            tinggi<input type='text' name="tinggi" placeholder="tinggi" > <br>
            tanggal lahir <input type="date" name="date" id="" value="" placeholder="tanggal lahir"> <br>
            status<select name="status" id="" >
                <option disabled selected value="">pilih</option>
                <option>nikah</option>
                <option>jomblo</option>
                </select> <br>
            <button type="submit">Tambah</button>
        </form>
</body>
</html>